*~
node_modules
.cache
.env
.idea
.parcel-cache

src-tauri/target
dist/*
!dist/virtualfs.js
!dist/virtualfs.js.map
!dist/phoenix-fs.js
test/virtualfs.js
test/virtualfs.js.map

!dist/virtualfs-debug.js
!dist/virtualfs-debug.js.map
test/virtualfs-debug.js
test/virtualfs-debug.js.map

phcode-fs-*.tgz
