name: 'Test on pull request'
on: [pull_request]

jobs:
  test-tauri:
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.platform }}
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v5
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
      - name: install dependencies (ubuntu only)
        if: matrix.platform == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev libwebkit2gtk-4.0-dev libappindicator3-dev librsvg2-dev patchelf
          sudo apt-get install xvfb
      - name: install frontend dependencies
        run: |
          npm install
          echo "npm run build not executed as we will be running tests against the checked in release artifacts only!"
          npm run _copy-dist-to-test
          npm run tauri build
      - name: Run tauri integration tests in ubuntu
        if: matrix.platform == 'ubuntu-latest'
        run: xvfb-run ./src-tauri/target/release/phoenix-file-system -q

      - name: Run tauri integration tests in macos
        if: matrix.platform == 'macos-latest'
        run: ./src-tauri/target/release/Phoenix\ File\ system -q

      - name: Run tauri integration tests in windows
        # GUI apps in windows doesn't log on console. so we capture the output to a text file and print it, then fail on error.
        if: matrix.platform == 'windows-latest'
        id: windowsRun
        run: |
          "src-tauri\target\release\Phoenix File system.exe" -q > output.txt 2>&1
        shell: cmd
        continue-on-error: true

      - name: Print windows integration test output to console
        if: matrix.platform == 'windows-latest'
        run: |
          type output.txt
        shell: cmd

      - name: Fail on test runs failed in windows
        if: matrix.platform == 'windows-latest' && steps.windowsRun.outcome == 'failure'
        run: |
          echo "Windows tests failed, marking step as failed"
          exit 1
        shell: cmd
